extends layout

block content

  include nav

  section.main.mb-lg
    .card.mt-lg.shadow
      .card-top
        figure.mt-lg
          img(src='assets/images/silver.png', alt='')
        h3.text-uppercase.text-silver!= chasse.name
        span.text-silver.text-uppercase!= chasse.theme
        span.card-price.text-uppercase
          b.text-cap
            != chasse.winning
          |  to win
      .card-bot.gradient
        ul.text-silver
          li Type : 
            span.silver-dificulty!= chasse.type
          li Started : 
            span.silver-timeout!= chasse.startdate
          li 
            | Current players : 
            span.silver-players!= chasse.countplayer
            | / 20
      if joined
        if complete 
          a.btn.btn-silver.text-uppercase.mb-lg(href='/') Finished
        else
          a.btn.btn-silver.text-uppercase.mb-lg(href='/game') Resolve
      else
        button.btn.btn-silver.text-uppercase.mb-lg.joinsilver Join
    .card.mt-lg.shadow
      .card-top
        figure.mt-lg
          img(src='assets/images/diamond.png', alt='')
        h3.text-uppercase.text-diamond
          | sponsored
        span.text-silver.text-uppercase
          | the best hunt to discover
        span.card-price.text-uppercase
          b.text-cap
            | Goodies
          |  to win
      .card-bot.gradient
        ul.text-silver
          li type : 
            span.diamond-dificulty Solo
          li Timeout : 
            span.diamond-timeout 17/04/2018-14:30
          li 
            | Current players : 
            span.diamond-players 0 
            | / 15
        a.btn.btn-diamond.text-uppercase.mb-lg(href='/game') Join

  script(type='text/javascript').
    var socket = io ();
    $('.joinsilver').click( () => {
    socket.emit('WTJ', $('#pseudo').text());
    })
    socket.on('Joined', () => {
    console.log("Joined");
    location.href="/game";
    })
    socket.on('Error', data =>{
    console.log(data);
    })
